@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
}

body {
    min-height: 100vh;
}
